body {
  margin: 0;
  padding: 0;
}

/* Main google logo */
.logo {
  height: 92px;
  width: 272px;
  margin: 0 auto;
  display: block;
  clear: both;
  padding-top: 112px;
  padding-bottom: 20px;

}

/* Top and Bot link positioning */
nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
   float: right;
 }

 li.left_align {
   float: left;
   padding-left: 15px;
 }

 li.right_align {
   float: right;
   padding-right: 15px;
 }

li {
  display: inline;
  padding: 8px;
}

a:link, a:visited {
  color: #000;
  font-family: arial;
  font-size: 13px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Top nav bar style */
ul#top_nav {
   width: 100%;
   height: 50px;
   margin: 0;
   display: inline-block;
   padding: 8px;
   float: right;

}
#top_nav img{
 vertical-align: middle;
 height: 20px;
 width: 20px;
}

/*sign in button style */
input#sign_in_button {
  color: #fff;
  background-color: #4285f4;
  border: 1px solid #4285f4;
  font-weight: bold;
  line-height: 28px;
  padding: 0 12px;
  font-size: 13px;
  border-radius: 2px;
}

#sign_in_button:hover {
  box-shadow: rgb(204, 204, 204) 1px 1px 1px 1px;
}

/* bot nav bar style */

ul#bot_nav {
  background-color: #f2f2f2;
  border-top: 2px solid #e4e4e4;
  width: 100%;
  overflow: hidden;
  position: fixed;
  padding-bottom: 0;
  bottom: 0;
  padding: 1px;

}

#bot_nav li {
  font-size: 13px;
  display: inline-block;
  color: #666;
  padding: 13px;
}

#bot_nav li a:link {
  color: #666;
}

/* Search bar */
input#search_bar {
  border: 2px solid #e4e4e4;
  margin: auto;
  display: block;
  box-sizing: content-box;
  height: 39px;
  width: 450px;
  outline: none;
  padding: 5px 9px 5px 16px;
  font: 16px arial,sans-serif;
  box-shadow: rgb(204, 204, 204) 0px 2px 2px 0px;
  border: 1px solid rgb(204, 204, 204);
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: none;
  border-radius: 3px;
}

#search_bar:hover{
  box-shadow: rgb(204, 204, 204) 1px 4px 5px 0px
}

/* Search Buttons */
.search_buttons {
  text-align: center;
}

#google_search, #im_feeling_lucky{
color: #757575;
font-family: arial, sans-serif;
font-size: 13px;
font-weight: bold;
border: none;
text-align: center;
margin: 11px 4px;
padding: 0px 16px;
height: 34px;
}

#google_search:hover, #im_feeling_lucky:hover{
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}
