/* Main google logo */
.logo {
  height: 92px;
  width: 272px;
  margin: auto;
  display: block;
}

/* Top and Bot style */
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

li {
  display: inline;
}

/* Top and bottom link style */
a:link, a:visited {
  color: #000;
  font-family: arial;
  font-size: 13px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Top nav bar style */
ul#top_nav {
   width: 980px;
   height: 30px;
}

/* bot nav bar style */
ul#bot_nav {
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  position: absolute;
}

/* Search bar */
input.search_bar {
  border: 1px solid #e4e4e4;
  margin: auto;
  display: block;
  box-sizing: content-box;
  height: 39px;
  width: 403px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
  outline: none;
  padding: 5px 9px 5px 16px;
  font: 16px arial,sans-serif;

}


/* Search Buttons */
button {

}
